/* Global Styles */
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #e8e8e8;
}

h1 {
  color: #264D73;
  font-size: 2.5rem;
}

h2,
h3 {
  color: #444;
  font-weight: lighter;
}

h3 {
  font-size: 1.3rem;
}

body,
input[text] {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

a {
  cursor: pointer;
}

button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1rem;
  padding: 1rem;
}

button:hover {
  background-color: black;
  color: white;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

hr {
  margin: 1.5rem 0;
}

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: .5rem;
}

.page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}